*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-around;
    height: 400px;
}
.header-text{
    margin-top: 50px;
}

.header-t{
    color: #272727;
    font-size: 40px;
    font-weight: 700;
}

.header-p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    font-weight: 400;
    margin: 20px 0px;
}
.header-but {
    border-radius: 8px;
    background: #E55473;
    padding: 10px 30px;
    border-style: none;
    color: white;
}
.header img {
    margin-top: 50px;
}